<h1>Desafio - Almacenar Información</h1>
<p> Almacenar información en una base de datos </p>

    <div class="text-center my-5">
        <%= link_to "Crear Pelicula", movies_new_path, class:"btn btn-dark" %>
        <%= link_to "Crear Serie", shows_new_path, class:"btn btn-dark" %>
        <%= link_to "Crear Documental", documentaryfilms_new_path, class:"btn btn-dark" %>
    </div>
